.post-article {

    position: relative;
    transition: 0.3s transform ease-in-out;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    figcaption {
        bottom: 0;
        padding: 0.25em 1em;
        position: relative;

        div {

            &:after {
                content:"";
                background-color: rgba(0,0,0, 0.7);
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-indeX:1;
               }

               * {
                position: relative;
                z-index: 9;
               }

        }



    }

    &:hover {

       img {
        transform: scale(1);
        transition:0.5s all ease-in-out
       }

    }

    &__img {
         overflow: hidden;
        padding-bottom: 50%;
        position: relative;

        img {
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            transform: scale(1.2);
            transition:0.5s all ease-in-out
        }
    }

    h2 {
        font-size:1.2rem;
        font-weight: 400;
        margin: 1rem 0 0 0;
        transition: var(--transition);
    }

    a {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width:100%;
    }

}

.content--row {

        .post-article {
    
            width:100%;

            > div {
                display: flex;
            }

            &__img {
                margin-right: 3rem;
                max-width:415px;
                padding-bottom:15%;
                width:100%;
            }

         

        }


}
