@import './sass/mixins.scss';

:root {
  --color-yellow : #FFD700;
  --color-pink : #ff328e;
  --transition : 0.2s all ease-in;
}

html, body, #root {
  height: 100%;
}

html {
  background-color: #000;
  background-image: url('/assets/bg.jpg');
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}

body {

  font-size:1.1em;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
}

/* Track */
&::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
&::-webkit-scrollbar-thumb {
    background: var(--color-pink);
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
    background: #5AABE6;
}

  &.contrast-light {

    .navigation {
      background-color: #e0e0e0;
      @include transition(background-color);
      
      a {
        color:#333;
        @include transition(color);

      }

    }

    .category_filters {
      button {
        border-color: #000;
        color: var(--color-yellow);
      }
    }

    .content {
      background-color: #fff;
      color:#333;
      @include transition(background-color);
      @include transition(color);
    }

  }

}

a {
  color: var(--color-pink);
  text-decoration: none;
}

p {
  line-height: 1.7em;
}

ul, ol {
  li {
    margin-bottom:0.5em;
  }
}


.d-flex {
  display: flex;
}

.body_wrap {
    display: grid;
    grid-template-columns: 300px 1fr;
    min-height: 100vh;
    transition: 1s all ease;

    &--expand {
      grid-template-columns: 80px 1fr;
      transition: 1s all ease;
    }

}

.container {
  height: 100%;
}

.content {
  color:#fff;
  padding:3rem 6rem;
  width:-webkit-fill-available;
  @include transition(background-color);
}